body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px 16px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

td {
    font-size: 14px;
    color: #555;
}

/* public/styles.css */
.editable-status {
    cursor: pointer;
}

.editable-status:focus-within {
    outline: none;
    /* 移除聚焦边框 */
}

/* 使 input 在编辑时获得焦点时有视觉反馈 */
input[type="text"]:focus {
    border-color: blue;
}


/* 添加一些响应式设计 */
@media screen and (max-width: 768px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 1rem;
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
        font-size: 14px;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 6px;
        width: 45%;
        font-weight: bold;
    }

    td:first-of-type {
        border-top: 1px solid #ddd;
    }
}



form {
    margin-top: 20px;
}

input[type="text"] {
    width: 200px;
}